{% extends 'coppehr/base.html' %}

{% block title %}
<title>Archives | Wellness</title>
{% endblock title%}

{% block content %}
<div style="margin-bottom: 250px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h1>The archives will be coming soon.</h1>
        <p>Thank you for your patience...</p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
 <div style="margin-bottom: 250px;"></div>
{% endblock content%}